<% title "pets" %>

<% @pets.each do |pet| %>
  <div class="pet">
    <h2><%= link_to pet.name, pet %></h2>
    photos: <%= pet.photos.size %>
  </div>
<% end %>

<p><%= link_to "New pet", new_user_pets_path(@user) %></p>
